# Project exclude paths
/.gradle/
/build/
/build/classes/java/main/
/build/classes/java/test/
# Project exclude paths
/server/.gradle/
/server/build/
/server/build/classes/java/main/
/server/build/classes/java/test/